<%- include("partials/header.ejs") %>

<div class="container mainPageCon">
    <div class="welcomeNotice">
        <img class="welcomeCocktailImg" src="" alt="Cocktail Image">
        <div class="titleDetails">
            <h1>Welcome to The CocktailBeat</h1>
            <p>Here you can find wide variety of cocktail and drinks recipes from all around the world</p>
        </div>
        <img class="welcomeCocktailImg" src="" alt="Cocktail Image">
    </div>

    <div class="searchCon">
        <h4>Search for a Cocktail</h4>
        <div class="searchDetails">
            <form action="/search" method="POST">
                <input class="searchInput" name="searchName" placeholder="Search...">
                <button type="submit" class="searchBtn">Search</button>
            </form>
        </div>
    </div>

    <div class="randomCon">
        <form action="/random" method="GET">
            <button type="submit" class="randomBtn">Get a random Coctail Recipe</button>
        </form>
    </div>
</div>


<%- include("partials/footer.ejs") %>